@model JTLPortalV2.Models.EmailInfoModel
@{
    ViewBag.Title = "Contact";
}
<div class="contentWrapper">
    <h2>@ViewBag.Title.</h2>

   <p>Thank you for your visit, feel free to drop a message </p> 

    @using (Html.BeginForm("SendForm","Home", FormMethod.Post, new { @class="form-horizontal",role="form",style="padding-top:30px;" }))
    { 
            <div class="form-group">
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.Email, new { @class="form-control",placeholder="Email",type="email",required="required"})
                </div> 
                
            </div>
            <div class="form-group">
                <div class="col-sm-10"> 
                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control", placeholder = "Message",required="required" })       
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                     <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
    }
</div>
