@{
    ViewBag.Title = "Contact";
}
<div class="contentWrapper">
    <h2>@ViewBag.Title.</h2>

    <a id="foxyform_embed_link_639420" href="./"></a>

    <script type="text/javascript">
        (function (d, t) {
            var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            g.src = "http://www.foxyform.com/js.php?id=639420&sec_hash=af25d1a2106&width=350px";
            s.parentNode.insertBefore(g, s);
        }(document, "script"));
    </script>
</div>
