@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div style="width: 100%;max-width:1170px;margin-right:auto;margin-left:auto;">
        <h1>Welcome.</h1>
        <p class="lead">Hi, my name is Jack Li, and this is my personal site.</p>
        <p><a href="/home/about" class="btn btn-primary btn-large">About me &raquo;</a></p>
    </div>
</div>

<p style="height:325px;"></p>