@{
    ViewBag.Title = "Home Page";
}

<div class="indexPageBody">
    <div class="jumbotron">
        <div class="contentWrapper">
            <h1>Welcome.</h1>
            <p></p>
            <h2>Hi, my name is Jack Li, and this is my personal site.</h2>
            <p class="lead">
                I am currently a third year student at the University of Waterloo studying Computer Science. <br /> I enjoy working with motivated people who get things done, on software that gets used.       
            </p>
            <p class="buttons"><a href="/home/about" class="btn btn-primary btn-large">About me &raquo;</a> <a href="/home/contact" class="btn btn-primary btn-large">Contact me &raquo;</a></p>
        </div>
    </div>

    <div class="contentWrapper">
        <h1 style="text-align:center">
            This site is built and hosted using the following technologies:
        </h1>
        <p>
            <table id="technologiesused">
                <tr>
                    <td><img src="/Images/msdotnet.png" /></td>
                    <td><img src="/Images/winazureMIN.png" /></td>
                    <td><img src="/Images/twitter.png" /></td> 
                </tr>
                <tr>
                    <td>Microsoft ASP.NET MVC Framework</td>
                    <td>Windows Azure Cloud Platform</td>
                    <td>Twitter Bootstrap</td>
                </tr>
            </table>
        </p>
    </div>
</div>

<div style="height:600px;"> </div>


