
@{
    ViewBag.Title = "Resume";
}

<div class="contentWrapper">
    <h2>@ViewBag.Title.</h2>

    <iframe src="https://drive.google.com/file/d/0BxJhsnuAi2C2MjR4Zk5VSlA0aG8/preview" style="width:100%;height:700px;"></iframe>
</div>
